<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GG-Bond</title>
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="iconfont.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/c/font_4899581_yo5wf8m4qk.css?spm=a313x.manage_type_myprojects.i1.9.46e63a81a5lvoV&file=font_4899581_yo5wf8m4qk.css">

    <link rel="stylesheet" href="https://formden.com/static/assets/demos/bootstrap-iso/bootstrap-iso/bootstrap-iso.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

</head>

<body>
<header>
    <nav>
    <div class="shell">
        <ul class="nav">
            <li class="active" id="logo">
                <a href="#">
                    <div class="icon">
                        <div class="imageBox">
                            <img src="resourse\GG2.png" alt="Sorry, the image could not be loaded">
                        </div>
                    </div>
                    <div class="text">GG-bond</div>
                </a>
            </li>
            <li>
                <a href="#home">
                    <div class="iconfont">
                        <div class="icon-home"></div>
                    </div>
                    <div class="text">Home</div>
                </a>
            </li>
            <li>
                <a href="#news">
                    <div class="iconfont">
                        <div class="icon-newfill"></div>
                    </div>
                    <div class="text">News</div>
                </a>
            </li>
            <li>
                <a href="#videos">
                    <div class="iconfont">
                        <div class="icon-video"></div>
                    </div>
                    <div class="text">Videos</div>
                </a>
            </li>
            <li>
                <a href="#rank">
                    <div class="iconfont">
                        <div class="icon-rankfill"></div>
                    </div>
                    <div class="text">Rank</div>
                </a>
            </li>
            <li>
                <a href="#games">
                    <div class="iconfont">
                        <i class="icon-game"></i>
                    </div>
                    <div class="text">Shopping</div>
                </a>
            </li>
            <li>
                <a href="#about us">
                    <div class="icon">
                        <div class="imageBox">
                            <img src="resourse\GG.jpg" alt="Sorry, this picture could not be loaded">
                        </div>
                    </div>
                    <div class="text">about us</div>
                </a>
            </li>
        </ul>
    </div>
    </nav>
</header>
<main>
    <section id="home">
        <div class="home-shell">
            <div class="home-image" style="background-image: url('./resourse/home1.jpg');"></div>
            <div class="home-heading">
                <h1>Fast and furious</h1>
            </div>
            <div class="home-text">
                <h1>This is the collision of adrenaline and muscles</h1>
            </div>
    
            <div class="home-image" style="background-image: url('./resourse/home2.jpg');"></div>
            <div class="home-heading">
                <h1>Rainy night and pursuit</h1>
            </div>
            <div class="home-text">
                <h1>This is a clash between drivers and nature</h1>
            </div>
    
            <div class="home-image" style="background-image: url('./resourse/home3.jpg');"></div>
            <div class="home-heading">
                <h1>Survival and death</h1>
            </div>
            <div class="home-text">
                <h1>This is a choice between destruction and rebirth</h1>
            </div>
    
            <div class="home-image" style="background-image: url('./resourse/home4.jpg');"></div>
            <div class="home-heading">
                <h1>Mythology and reality</h1>
            </div>
            <div class="home-text">
                <h1>This is the explosion of destiny and breakthrough</h1>
            </div>

            <div class="home-image" style="background-image: url('./resourse/home5.jpg');"></div>
            <div class="home-heading">
                <h1>Tranquility and noise</h1>
            </div>
            <div class="home-text">
                <h1>This is a competition between calm and rapids</h1>
            </div>

            <div class="home-image" style="background-image: url('./resourse/home6.jpg');"></div>
            <div class="home-heading">
                <h1>Disaster and hope</h1>
            </div>
            <div class="home-text">
                <h1>This is a lament of machinery and humanity</h1>
            </div>

            <div class="home-image" style="background-image: url('./resourse/home7.jpg');"></div>
            <div class="home-heading">
                <h1>Bizarre and motley</h1>
            </div>
            <div class="home-text">
                <h1>This is the interweaving of nature and the supernatural<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome to GG-bond!</h1>
            </div>
        </div>
    </section>

    <section id="news" class="news-block">
        <div class="news-shell">
            <div class="news-title">
                <h2 class="colortitle1">News</h2>
            </div>
            <div class="news">
                <button id="openPopupButton1" data-popup="popup1" class="newsButton">
                    <div class="news-box">
                        <div class="news-image-box">
                            <img src="resourse\new1.jpg" class="news-image">
                        </div>
                        <div class="news-text">
                            <h2 class="newsDetailsTitle">Deep Rock Galactic: Rogue Core</h2><br>
                            <p class="newsInformation">DEEP ROCK GALACTIC: ROGUE CORE is a 1-4 player co-op FPS action roguelite featuring sci-fi dwarves, alien horrors and procedurally-generated</p><br>
                            <p class="newsInformation"> caves.Join the elite dwarven Reclaimers and fight through perilous mining facilities infested with deadly Core Spawn. For Rock and Stone!</p>
                        </div>
                    </div>
                </button>
            </div>
            <div id="popup1" class="popup">
                <div class="popup-content">
                    <span class="close-button">&times;</span>
                    <h2>Deep Rock Galactic: Rogue Core – Open Alpha</h2><br>
                    <p class="newsWindowTitle">April 10, 2025 by KJ Robertson</p><br>
                    <img src="resourse\new1.jpg" class="newsWindowImage"><br>
                    <article>
                        <p>Deep Rock Galactic: Rogue Core is a spinoff of the popular Deep Rock Galactic co-op mining shooter, offering a fresh roguelite twist on the familiar formula.</p><br>
                        <p>Playable with 1-4 players, Deep Rock Galactic: Rogue Core puts players in the boots of elite dwarven Reclaimers, tasked with investigating mysterious mining facilities overrun by deadly Core Spawn creatures. Unlike its predecessor, Rogue Core embraces roguelite mechanics where players start each mission with basic equipment and build their arsenal through random upgrades and abilities discovered during runs. The game features escalating difficulty as missions progress, encouraging strategic teamwork and quick thinking.</p><br>
                        <p>Rogue Core introduces new weapons, experimental enhancements, and a focus on creating powerful team builds on the fly. While maintaining the beloved co-op elements of the original, including the iconic “Rock and Stone” call. Sign up now to dig into the Beta.</p>
                    </article>
                </div>
            </div>
            
            <div class="news">
                <button id="openPopupButton2" data-popup="popup2" class="newsButton">
                    <div class="news-box">
                        <div class="news-image-box">
                            <img src="resourse\new2.jpg" class="news-image">
                        </div>
                        <div class="news-text">
                            <h2 class="newsDetailsTitle">Escape from Tarkov</h2><br>
                            <p class="newsInformation">Battlestate Games announced that its highly acclaimed tactical shooting escape game "Escape from Tarkov" will officially release version 1.0 in 2025,</p><br>
                            <p class="newsInformation"> ending an 8-year testing process.</p>
                        </div>
                    </div>
                </button>
            </div>
            <div id="popup2" class="popup">
                <div class="popup-content">
                    <span class="close-button">&times;</span>
                    <h2>Escape from Tarkov</h2><br>
                    <p class="newsWindowTitle">April 21, 2025 by Joseph Allen</p><br>
                    <img src="resourse\new2.jpg" class="newsWindowImage"><br>
                    <article>
                        <p>Battlestate Games has announced that its extraction shooter Escape from Tarkov will hit its 1.0 release sometime this year, and that a Steam version of the game is also planned, although we don't know when that's coming.</p><br>
                        <p>In a livestream held over the weekend (with a handy summary by the wonderfully-named ResetEra user Saucycarpdog), Battlestate confirms that Escape from Tarkov 1.0 is coming in 2025, and that a Steam version is coming after that release.</p><br>
                        <p>Additionally, the spinoff game Escape from Tarkov: Arena will also be arriving on Steam, and that one is due to land on Valve's platform before the big 1.0 release of the main game. Again, though, no concrete release dates or windows were announced.</p>
                    </article>
                </div>
            </div>


            <div class="news">
                <button id="openPopupButton3" data-popup="popup3" class="newsButton">
                    <div class="news-box">
                        <div class="news-image-box">
                            <img src="resourse\new3.jpg" class="news-image">
                        </div>
                        <div class="news-text">
                            <h2 class="newsDetailsTitle">Battlefield</h2><br>
                            <p class="newsInformation">The new Battlefield closed beta focuses on destruction effects and gameplay, with DICE showcasing the Alpha beta version of the game's destruction </p><br>
                            <p class="newsInformation"> effects.</p>
                        </div>
                    </div>
                </button>
            </div>
            <div id="popup3" class="popup">
                <div class="popup-content">
                    <span class="close-button">&times;</span>
                    <h2>Battlefield</h2><br>
                    <p class="newsWindowTitle">Feb 3, 2025</p><br>
                    <img src="resourse\new3.jpg" class="newsWindowImage"><br>
                    <article>
                        <p>EA is developing the next Battlefield game specifically around direct player feedback, and the new-and-improved destruction physics will be among the first things that players can test out.</p><br>
                        <p>Today, EA announced Battlefield Labs, a massive new community-driven playtesting program specifically for the Battlefield franchise. It's the largest-ever undertaking from EA in regards to closed beta testing, and everyone will have to sign an NDA. Those who are selected can try out various pieces and modes of the game, including new weapons, maps, and the explosive real-time carnage that DICE is known for.</p><br>
                        <p>In a big update post, Battlefield Studios says that combat and physics will be tested first. Snippets of new gameplay show some pretty impressive effects and it's an exciting time to be a Battlefield fan.</p><br>
                        <p>The name of the game is experimentation, and think of Battlefield Labs as being part of a mad scientist's massive sandbox playground. Battlefield 6 is currently in pre-alpha and the teams are working on both campaign and multiplayer content.</p><br>
                        <p>Only a few thousand people will be accepted into the program at first, which will then open to tens of thousands of users.</p>
                    </article>
                </div>
            </div>


            <div class="news">
                <button id="openPopupButton4" data-popup="popup4" class="newsButton">
                    <div class="news-box">
                        <div class="news-image-box">
                            <img src="resourse\new4.jpg" class="news-image">
                        </div>
                        <div class="news-text">
                            <h2 class="newsDetailsTitle">GTA6</h2><br>
                            <p class="newsInformation">GTA6 (Grand Theft Auto VI) is set to be released in the fall of 2025, bringing the largest and most immersive open world experience </p><br>
                            <p class="newsInformation">in the series to date. </p><br>
                        </div>
                    </div>
                </button>
            </div>
            <div id="popup4" class="popup">
                <div class="popup-content">
                    <span class="close-button">&times;</span>
                    <h2>GTA6</h2><br>
                    <p class="newsWindowTitle">May 2, 2025</p><br>
                    <img src="resourse\new4.jpg" class="newsWindowImage"><br>
                    <article>
                        <p>Rockstar's highly anticipated Grand Theft Auto VI will finally launch on May 26, 2026, Rockstar Games said in a Friday morning announcement.</p><br>
                        <p>That means the game will miss the "2025" release window that the developer announced alongside the game's first trailer in late 2023. That delay is needed, Rockstar said, so the company can use "this extra time to deliver at the level of quality you expect and deserve."</p><br>
                        <p>"We are very sorry that this is later than you expected," Rockstar wrote in its announcement. "The interest and excitement surrounding a new Grand Theft Auto has been truly humbling for our entire team. We want to thank you for your support and your patience as we work to finish the game."</p>
                    </article>
                </div>
            </div>

        
            <div class="news">
                <button id="openPopupButton5" data-popup="popup5" class="newsButton">
                    <div class="news-box">
                        <div class="news-image-box">
                            <img src="resourse\new5.jpg" class="news-image">
                        </div>
                        <div class="news-text">
                            <h2 class="newsDetailsTitle">"Harvest Moon" Nintendo Switch 2 Edition</h2><br>
                            <p class="newsInformation">On April 24th, Marvelous announced that the digital and physical versions of the latest installment in the "Harvest Moon" series, "Harvest Moon" </p><br>
                            <p class="newsInformation">Nintendo Switch 2 Edition, will be available for pre order at My Nintendo Store.</p><br>
                        </div>
                    </div>
                </button>
            </div>
            <div id="popup5" class="popup">
                <div class="popup-content">
                    <span class="close-button">&times;</span>
                    <h2>"Harvest Moon" Nintendo Switch 2 Edition</h2><br>
                    <p class="newsWindowTitle">May 3, 2025</p><br>
                    <img src="resourse\new5.jpg" class="newsWindowImage"><br>
                    <p>The classic simulation management series' Harvest Moon 'welcomes a new work! The new chapter of "Harvest Moon: Come on! Wind of the Prosperous Market" will be released on Nintendo Switch 2, Switch, and Steam platforms on August 28, 2025. The official also released the first introduction video, taking players to see the new charm of the game.</p><br>
                    <p>The stage of this game is set in the bustling "Xufeng Town" where windmills play and markets thrive. Players will embark on a brand new rural life here: raising cute animals, planting a variety of crops, and freely creating their dream pasture.</p><br>
                    <p>Come on, Harvest Moon! The bustling market of the wind is committed to creating a game world with a soothing rhythm and a healing feeling. Whether you are an old player of the series or a first-time friend, you can find your own happy rural time here.</p><br>
                    <p>Anyone who pre orders the physical Chinese version of Nintendo Switch 2/Nintendo Switch will receive a pre order bonus of "Seven Celebration Style Clothing and Glider Wing Dress Set DLC Serial Cards" and "Ranch Life Scene Plaque Set".</p>
                </div>
            </div>

            
            <div class="news">
                <button id="openPopupButton6" data-popup="popup6" class="newsButton">
                    <div class="news-box">
                        <div class="news-image-box">
                            <img src="resourse\new6.jpg" class="news-image">
                        </div>
                        <div class="news-text">
                            <h2 class="newsDetailsTitle">Nintendo Switch 2 in short supply</h2><br>
                            <p class="newsInformation">On April 24th, a report indicated that Nintendo may need to prepare up to 20 million consoles to meet Switch 2's first-year sales expectations.</p><br>
                            <p class="newsInformation">Nexpectations.</p><br>
                        </div>
                    </div>
                </button>
            </div>
            <div id="popup6" class="popup">
                <div class="popup-content">
                    <span class="close-button">&times;</span>
                    <h2>"Harvest Moon" Nintendo Switch 2 Edition</h2><br>
                    <p class="newsWindowTitle">May 4, 2025</p><br>
                    <img src="resourse\new6.jpg" class="newsWindowImage"><br>
                    <article>
                        <p>Nintendo President Juntaro Furukawa tweeted an apology to players for the supply shortage of Switch 2. He stated that after the NS2 started lottery pre-sales, there were 2.2 million applications in Japan alone, far exceeding his expectations and greatly exceeding the number of consoles that could be delivered on June 5th. It is expected that a large number of players will not be able to win when the lottery results are announced on April 24th.</p><br>
                        <p>The president stated that in order to avoid duplicate applications from users who were not selected in the first round, My Nintendo Store will automatically transfer users who were not selected in the first round to the second round of lottery. But even with the addition of the second round of pre-sale quantities, it still cannot meet all application needs. Although we have prepared in advance, we are still deeply sorry for not meeting everyone's expectations. We sincerely apologize for this. It should be noted that it has developed a plan for continuous mass production and shipment. Before achieving sufficient supply, we kindly ask for your patience and understanding.</p><br>
                        <p>In addition, pre orders for Nintendo Switch 2 in North America were officially launched in the early hours of April 24th, following delays caused by President Trump's tariffs. However, the process of booking Switch 2 is extremely difficult, with website crashes, shopping cart malfunctions, and frequent error messages. Some people even resell these hosts on eBay and their orders are cancelled. Some consumers are attempting to book directly through Nintendo's official website to avoid confusion, but this approach also faces challenges.</p><br>
                        <p>Nintendo suggests that users can try pre ordering through third-party retailers such as GameStop or Target, but many of these stores have already sold out their inventory.</p>
                    </article>    
                </div>
            </div>
        </div>
    </section>

    

    <section id="videos">
    <div class="videos-shell">
     <div class="video-title">
            <h2 class="colortitle2">Video</h2>
    </div>
        <div class="bootstrap-iso">
    <div id="pptCarousel" class="carousel slide" data-bs-ride="carousel">
        
        <div class="carousel-inner">
            
            <div class="carousel-item active" id="container1">
                <div id="rank-information">
                    <h2 id="rank-information-title">KPL</h2>
                    <p id="rank-information-content">The King of Glory Professional League (KPL) is the highest level professional competitive event for the mobile game "King of Glory" organized by Tencent Interactive Entertainment. The first competition was held in 2016 and has been held for 9 sessions by 2024.</p>
                    
                </div>
                <video src="resourse/KPL-video3.mp4" id="video-trailer" controls auto loop></video>
            </div>
            
            <div class="carousel-item" id="container2">
                <div id="rank-information">
                    <h2 id="rank-information-title">LPL</h2>
                    <p id="rank-information-content">League of Legends Pro League (LPL) is the highest level league of heroes professional competition in China, and also the only way for the Chinese Mainland division to lead to the league of heroes mid season championship and the league of heroes global finals every year.</p>
                </div>
                <video src="resourse/LOL-video1.mp4" id="video-trailer" controls auto loop></video>
            </div>
            
            <div class="carousel-item" id="container3">
                <div id="rank-information">
                    <h2 id="rank-information-title">OWCS</h2>
                    <p id="rank-information-content">OWCS is a brand new international competitive tour of Overwatch, open to players in North America, Europe, the Middle East, North Africa, and Asia. The 2024 season has multiple competition stages, with each region having its own set of open qualifiers, allowing players to form their own teams and compete for seats in the main tournament.</p>
                </div>
                <video src="resourse/OW-video2.mp4" id="video-trailer" controls auto loop></video>
            </div>

            <div class="carousel-item" id="container4">
                <div id="rank-information">
                    <h2 id="rank-information-title">PAL</h2>
                    <p id="rank-information-content">The counter-terrorism elite of Perfect World Agency: PERFECT WORLD ASIA LEAGUE, abbreviated as PAL, is a professional league of CS: GO. Started in 2020, held twice a year.</p>
                </div>
                <video src="resourse/CS-video4.mp4" id="video-trailer" controls auto loop></video>
            </div>

            <div class="carousel-item" id="container5">
                <div id="rank-information">
                    <h2 id="rank-information-title">DPL</h2>
                    <p id="rank-information-content">The DOTA2 Professional League is an official single event esports large-scale professional league organized by the Sports Information Center of the General Administration of Sport of China, in cooperation with Perfect World and hosted by MarsTV.</p> 
                </div>
                <video src="resourse/DPL-video.mp4" id="video-trailer" controls auto loop></video>
            </div>
        </div>

        <div id="button">
        
        <button class="carousel-control-prev slideButton" type="button" data-bs-target="#pptCarousel" data-bs-slide="prev">
            <div class="carousel-control-prev-icon" aria-hidden="true"></div>
            <div class="visually-hidden">Previous</div>
        </button>
        <button class="carousel-control-next slideButton" type="button" data-bs-target="#pptCarousel" data-bs-slide="next">
            <div class="carousel-control-next-icon" aria-hidden="true"></div>
            <div class="visually-hidden">Next</div>
        </button>
        
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</div>
    </section>


    <section id="rank">
        <div class="rank-shell">
            <input type="radio" name="rank-position" checked>
            <input type="radio" name="rank-position">
            <input type="radio" name="rank-position">
            <input type="radio" name="rank-position">
            <input type="radio" name="rank-position">
            <div class="rank-box">
                <div class="rank-item">
                    <div class="rank-number">
                        <h1>1st</h1>
                    </div>
                </div>
                <div class="rank-item">
                    <div class="rank-number">
                        <h1>2nd</h1>
                    </div>
                </div>
                <div class="rank-item">
                    <div class="rank-number">
                        <h1>3rd</h1>
                    </div>
                </div>
                <div class="rank-item">
                    <div class="rank-number">
                        <h1>4th</h1>
                    </div>
                </div>
                <div class="rank-item">
                    <div class="rank-number">
                        <h1>5th</h1>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </section>
   
    <section id="games">
    <div class="bootstrap-iso">
        <section id="shopping" class="shopping-section">
            <div class="search-container">
              <div class="search-box">
                <input type="text" id="searchInput" placeholder="Search games...">
              </div>
            </div>
            <div id="productsContainer">
              <div id="productsList" class="products-grid">
              </div>
            </div>
            <div id="cart" class="shopping-overlay hidden">
              <div class="cart-content">
                <div class="cart-header">
                  <h2>Your Cart</h2>
                  <button onclick="showSection('shopping')" class="shoppingButton">Continue Shopping</button>
                </div>
                <div id="cartItems"></div>
                <div class="cart-footer">
                  <p>Total: $<span id="cartTotal">0</span></p>
                  <button onclick="showSection('checkout')" class="shoppingButton">Proceed to Payment</button>
                </div>
              </div> 
            </div>
            <div id="checkout" class="shopping-overlay hidden">
              <form id="paymentForm" class="checkout-content">
                <h2>Confirm Your Purchase</h2>
                <div class="form-row">
                  <label>Full Name:</label>
                  <input type="text" name="fullname" required>
                </div>
                <div class="form-row">
                  <label>Email:</label>
                  <input type="email" name="email" required>
                </div>  
                <div class="form-row">
                  <label>Shipping Address:</label>
                  <textarea name="address" rows="3" required></textarea>
                </div>
                <div class="form-row">
                  <label>Payment Method:</label>
                  <select name="payment_method" required>
                    <option value="">Select Payment</option>
                    <option value="visa">Visa</option>
                    <option value="mastercard">MasterCard</option>
                    <option value="paypal">PayPal</option>
                  </select>
                </div>
                <div class="form-row">
                  <label>Card Number:</label>
                  <input type="text" name="card_number" 
                         pattern="\d{16}" 
                         placeholder="1234 5678 9012 3456" 
                         required>
                </div>
                <div class="form-row-group">
                  <div class="form-row">
                    <label>Expiry Date:</label>
                    <input type="month" name="expiry" required>
                  </div>
                  <div class="form-row">
                    <label>CVV:</label>
                    <input type="text" name="cvv" 
                           pattern="\d{3}" 
                           placeholder="123" 
                           required>
                  </div>
                </div>
                <button type="submit" class="shoppingButton">Confirm Purchase</button>
              </form>
            </div>
            <div id="confirmation" class="shopping-overlay hidden">
              <div class="confirmation-content">
                <h2>Order Confirmed!</h2>
                <p class="thank-you">Thank you, <span id="confirmName"></span>!</p>
                <div class="order-details">
                  <p>Your order of <span id="itemCount">0</span> items totaling $<span id="orderTotal">0</span> will be delivered to:</p>
                  <p class="address" id="confirmAddress"></p>
                </div>
                <p class="delivery-time">Your package will come soon!</p>
                <button class="back-btn" onclick="handleBackToShopping()">Back to Shopping</button>
              </div>
            </div>
          </section>
        </div>
    </section>
    
    <section id="about us">
        <div class="wrap">
            <div class="wrap-top">
                <div class="imageAboutUs"></div>
            </div>
            <div class="wrap-middle">
                <h2>GG-Bond</h2>
                <span>Game and entertainment media platform</span>
            </div>
            <div class="wrap-bottom">
                <ul>
                    <li>Contact:yshan22@student.oulu.fi</li>
                    <li>Group leader: Yilin Shan</li>
                    <li>Group member:Kaishen Yuan, Yizhou Xiang, Yifan Shao</li>
                    <li>Version:3.1.0</li>
                </ul>
            </div>
        </div>
    </section>
</main>

<hero>
    <div class="mouse"></div>
</hero>    

<!--The button to go to the top-->
    <button class="back-to-top" onclick="scrollToTop()"></button>


<!--User Servey-->
<div class="bootstrap-iso">
    <div class="userSurvey">
        <button id="openVueButton" class="openVueButton">Survey</button>
        <div id="Vue" class="Vue">
            <div class="vue-information-box">
                <span class="close" id="closeVueButton">&times;</span><br>
                <h1>USER SURVEY</h1><br>
                <p class="survey">In order to provide users with a better experience, here is a survey questionnaire that needs to be filled out.</p>
                <div id="app">
                    <form @submit.prevent="submitForm"><br>
                        <div>
                            <label for="name"> Name:</label><br>
                            <input type="text" id="name" v-model="formData.name" @blur="validateField('name')" class="surveyName">
                            <span class="error" v-show="errors.name">{{ errors.name }}</span>
                        </div><br>
                        <div>
                            <label for="email">Email:</label><br>
                            <input type="text" id="email" v-model="formData.email" @blur="validateField('email')" class="surveyEmail">
                            <span class="error" v-show="errors.email">{{ errors.email }}</span>
                        </div><br>
                        <div>
                            <label for="visitDate">Visit Date:</label><br>
                            <input type="date" id="visitDate" v-model="formData.visitDate" @blur="validateField('visitDate')" class="surveyDate">
                            <span class="error" v-show="errors.visitDate">{{ errors.visitDate }}</span>
                        </div><br>
                        <div class="gender-options">
                            <label>Gender:</label><br>
                            <input type="radio" name="gender" value="male" v-model="formData.gender" @change="validateField('gender')" class="gender-button">
                            <label>Male</label>
                            <input type="radio" name="gender" value="female" v-model="formData.gender" @change="validateField('gender')" class="gender-button">
                            <label>Female</label>
                            <span class="error" v-show="errors.gender">{{ errors.gender }}</span>
                        </div><br>
                        <div>
                            <label for="advice"> Advice:</label><br>
                            <textarea id="advice" v-model="formData.advice" @blur="validateField('advice')"class="surveyAdvice"></textarea>
                            <span class="error" v-show="errors.advice">{{ errors.advice }}</span>
                        </div><br>
                        
                        
                        <div class="col-md-4" v-for="trait in availableTraits" v-bind:key="trait">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" :id="trait" :value="trait" v-model="selectedTraits">
                                <label class="form-check-label" :for="trait">{{ trait }}</label>
                            </div>
                        </div>
                        
                        
                        <div class="surveyButton">
                            <button type="submit" class="surveySubmit" v-on:click="submitForm">Submit</button>
                        </div>

                    </form>
                        <div v-if="formSubmitted">
                            <h2>Thanks for your submission!</h2>
                        </div>
                        <div v-else-if="errorsExist">
                            <h2>Please fill in the full blanks.</h2>
                        </div>
                </div>
                <script>
                    new Vue({
                        el:'#app',
                        data(){
                            return{
                                availableTraits:['Adventure','RPG','Sports','MOBA','Strategy','FPS','Music','Simulation','Tower Defence','Galgame','Plot','Sandbox'],
                                selectedTraits: [],
                                formData:{
                                    name:"",
                                    email:"",
                                    visitDate: "",
                                    gender: "",
                                    advice:"",
                                },
                                errors:{
                                    name:"",
                                    email:"",
                                    visitDate: "",
                                    gender: "",
                                    advice:"",
                                },
                                formSubmitted: false,
                                errorsExist: false,
                            }
                        },
                        methods:{
                            validateField(field){
                                this.errors[field] = "";
                                switch(field){
                                    case 'name':
                                        this.errors.name = this.formData.name.trim() ? '' : "Name is required.";
                                        break;
                                    case 'email':
                                        const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
                                        this.errors.email = emailPattern.test(this.formData.email) ? '' : "Enter a valid email.";
                                        break;
                                    case 'visitDate':
                                        this.errors.visitDate = this.formData.visitDate ? '' : "Visit Date is required.";
                                        break;
                                    case 'gender':
                                        this.errors.gender = this.formData.gender ? '' : "Gender is required.";
                                        break;
                                    case 'advice':
                                        this.errors.advice = this.formData.advice.trim() ? '' : "Advice is required.";
                                        break;
                                }
                            },
                            submitForm() {
                                Object.keys(this.formData).forEach((key) => {
                                    this.validateField(key);
                                });

                                this.errorsExist = !Object.values(this.errors).every((error) => error === "");
                                if (!this.errorsExist) {
                                    this.formSubmitted = true;
                                }
                            },
                        }
                    })
                </script>    
        </div>
    </div>
</div>
</div>


  <footer class="foot">
    &copy;2025 Programming4
    <br><br>
  <p>Contact Us:  <a>yshan22@student.oulu.fi</a></p>
  </footer>


<script src="script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>